{% load static %}
<div class="bonus-content">
    <div class="history-order-text">
        <img src="{% static 'media/line.svg' %}" alt="line">
        <div class="order-text">
            Бонусная система
        </div>
    </div>
    <div class="bonus-block">
        <div class="bonus-top-text">
            Для участия в программе необходимо зарегистрироваться, заполнив</br>
            форму в личном кабинете.
        </div>
        <div class="bonus-mid-text">
            Какие преимущества Вы получаете:
        </div>
        <div class="bonus-img-cont">
            <img src="{% static 'media/bonus.png' %}" alt="bonus">
        </div>
        <div class="your-bonus">
            <img src="{% static 'media/line.svg' %}" alt="line">
            Ваши бонусы
        </div>
        <div class="your-bonus-block">
            <img src="{% static 'media/bonus-img.svg' %}" alt="bonus-img">
            <div class="many-bonus">
                <div class="many-bonus-top">
                0.00 бонусов 
                </div>
                <div class="many-bonus-text">
                    сейчас на счету
                </div>
            </div>
        </div>
    </div>

</div>