{% load static %}
<div class="history-order-text">
    <img src="{% static 'media/line.svg' %}" alt="line">
    <div class="order-text">
        История заказов
    </div>
</div>
<div class="history-content">
    <div class="top-info-history">
        <div class="info-text">
            Номер заказа
        </div>
        <img src="{% static 'media/line-his.svg' %}" alt="line-his">
        <div class="info-text">
            Cумма 
        </div>
        <img src="{% static 'media/line-his.svg' %}" alt="line-his">
        <div class="info-text">
            Дата 
        </div>
        <img src="{% static 'media/line-his.svg' %}" alt="line-his">
        <div class="info-text-status">
            Статус
        </div>
    </div>
    <div class="detail-history">
        Детали заказа
        <img src="{% static 'media/arrow.svg' %}" alt="arrow">
    </div>
</div>